.choiceBtn{
    line-height: 70px;
    width: 70px;
    border-color: azure;
    border-radius: 10px;
    font-size: medium;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:cadetblue;
}
#chooseWise{
    padding-right: 5px;
    padding-bottom: 20px;
    float:inline-start;
}
#gameDiv{
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: antiquewhite;
    text-align: center;
    width:fit-content;
}

#playerText{
    color: blue;
    width:170px;
    border: 1px ;
    text-align: left;
}
#computerText{
    color: red;
    width:170px;
    border: 1px ;
    text-align: left;
}

#resultText{
    border: 1px solid;
    text-align: center;
    height: 50px;
}

